@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

#burger {
  scale: 2.3;
  margin: 26px 26px 26px 35px;
  width: fit-content;
  filter: contrast(50%);
  position: absolute;
  align-self: flex-start;
}

#cancel {
  scale: 2.3;
  margin: 26px 26px 26px 35px;
  width: fit-content;
  filter: contrast(50%);
  position: absolute;
  align-self: flex-start;
}

#nav {
  background: transparent;
}

.menu {
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
}

.menu-display {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 0 100%;
  flex-direction: column;
  background-color: #fff;
  z-index: 10;
}

#front {
  background: no-repeat left 5% / cover url("./Assets/mobile-front.png"), #f8f8f8;
}

#intro {
  padding: 5px;
}

#hello {
  margin: 12px;
  color: #ec5242;
}

#hello h5 {
  margin-top: 3.6em;
  font-size: 1.3em;
  font-weight: 400;
  margin-left: 12px;
  align-self: flex-start;
}

#hello h1 {
  font-size: 2.05rem;
  font-weight: 900;
}

#intro {
  width: 97%;
  color: #515151;
  line-height: 17px;
  letter-spacing: -0.12px;
  border: 4px solid #fff;
  font-size: 1em;
  margin: 5px;
  flex-shrink: 0;
  background: #f8f8f8;
}

#schedule {
  width: 95%;
  margin: 5px;
  margin-left: 10px;
}

#schedule h2 {
  color: #595959;
  font-size: 1.8em;
  font-weight: 900;
  letter-spacing: -1.6px;
  align-self: flex-start;
}

#schedule h3 {
  color: #868686;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: -0.3px; 
}

#program {
  background: url("./Assets/pattern.png") 30px 30px repeat, #282B32;
  align-items: center;
}

#program h2 {
  color: #fff;
  margin-top: 15px;
}

#program hr {
  width: 30px;
  margin: 10px 0 10px 0;
  border: 1px solid #ec5242;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 5px;
  justify-content: center;
}

.program-card {
  display: grid;
  gap: 6px;
  grid-template-columns: 19% 21% 60%;
  grid-template-rows: auto;
  background: #3b3e4589;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}

.program-card h4 {
  color: #ec5242;
}

.program-card p {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.6px; 
}

.program-card > div {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 2px; 
}

#join {
  width: 80%;
  padding: 20px 50px 20px 50px;
  margin: 40px 0 40px 0;
  border-radius: 0;
  border: none;
  background: #FF4F38;
  color: #fff;
  font-size: 0.95em;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: -0.16px;
  transition: 0.4s;
}

#join:hover {
  background: #df3e2c;
}

#join:active {
  background: #d32714;
}

#speakers {
  margin: 10px 0px 10px 0;
} 

#speakers hr {
  width: 30px;
  margin: 5px 0 5px 0;
  border: 1px solid #a04138;;
}

.featured-speaker {
  display: flex;
  align-items: center;
}

#speaker-image {
  margin-left: -1.6em;
  scale: 0.65;
  flex-shrink: auto;
}

#speaker-detail {
  align-items: flex-start;
  width: 150%;
  flex-grow: auto;
  margin-left: -1.6em;
}

#speaker-detail h3{
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

#speaker-detail h5{
  color: #f78d89;
  font-size: 0.65em;
  font-weight: 700;
  line-height: 14.943px;
  letter-spacing: -0.2px;
}

#speaker-detail p {
  font-size: 0.5em;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.6px;
}
